body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* 111111111111111111111111111 */
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
 padding: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.span_stud {
  color: #2e2f42;
}
.nav_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav_link:hover {
  color: #404bbf;
}
.nav_link:focus {
  color: #404bbf;
}
/* .href {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em ;
  color: #2e2f42;

} */

.address {
  font-style: normal;
  margin-left: auto;
}
/* 
.href:hover {
  color: #404bbf;
}
.href:focus {
  color: #404bbf;
} */
.section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice1.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transition :background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}
.address_link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address_link:hover {
  color: #404bbf;
}
.address_link:focus {
  color: #404bbf;
}
.section_two_h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.parag {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.h_sec_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.p_sec_three {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.sec_f {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.h_sec_f {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
/* .li_sec_f {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
} */
.hthree_sec_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.p_sec_f {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.h_two_sec_ff {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.h-three_sec_ff {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
/* .p_sec_ff {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  align-items: center ;
}
.footer_a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer_span {
  color: #f4f4fd;
}
.footer_p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header_div {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  padding-left: 0;
  align-items: center;
}
/* div {
  display: flex;
  
} */
.header_nav {
  display: flex;
  align-items: center;
}
/* .ull */
.ull {
  display: flex;
  gap: 40px;
  padding-left: 0;
  margin: 0;
  margin-right: 120px;
}
/* 2222222222222222222222222222222222222222 */
.address_ul {
  gap: 40px;
  display: flex;
}
/* address {

} */
.section_ttwo {
  padding: 120px 0;
}

.container {
  margin: 0 auto;
  padding: 20px;
  /* background-color: #f0f0f0;
  border: 1px solid #ccc; */
  border-radius: 5px;
  width: 1158px;
  padding: 0 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
/* max-width: 960px; */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ul_sec_ttwo {
  display: flex;
  gap: 24px;
}
.li_ul_sec_ttwo {
  width: calc((100% - 72px) / 4);
}
.ul_sec_f {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.div_li_sec_f {
  padding: 32px 0;
}
.sec_ff {
  padding-top: 120px;
  padding-bottom: 120px;
}
.ul_sec_ff {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0;
}
.li_ul_sec_ff {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);



}
.div_li_ul_sec_ff {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* margin-bottom: 8px; */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.sec_two__li_a_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.current { 
  position: relative; 
  color: #404BBF;
} 
.nav_link.current::after { 
 
  content: ''; 
  position: absolute; 
  left: 0; 
  bottom: -1px; 
  display: block; 
  width: 100%; 
  height: 4px; ; 
  border-radius:  2px;   
  background-color: #404bbf;
}
.address_li_a {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li_ul_sec_ff:hover .p_div_img_sec_ff,
.li_ul_sec_ff:focus .p_div_img_sec_ff{
   transform: translateY(0%);
}
.div_icons_li_sec_f{
  padding: 32px 0;


}
.li_ul_sec_ff:hover div >
p{
  transform: translateY(0%);
}
/* .li_ul_sec_ff p {
  transform: translateY(0%);
  transition: transform 0.3s ease; 
} */
.ul_social_sec_f{
  display: flex;
  justify-content: center;
  gap: 24px;
/* li_ul_social_sec_fli_sec_f */
}
.li_ul_social_sec_f {
  width: 40px;
  height: 40px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.a_li_ul_social_sec_f{
  width: 100%;
  height: 100%;
  background-color: var(--main-background-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.a_li_ul_social_sec_f:hover,
.a_li_ul_social_sec_f:focus {
  background-color: #404bbf;
}


.svg_a_li_ul_social_sec_f {
  width: 100%;
  height: 100%;
  fill: var(--icon-color, #f4f4fd);
}
.footer_div {
  display: flex;
  align-items: baseline;

}
.div_dva {
  margin-right: 120px
}
.div_tri_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px; 
}
.div_tri_ul {
  display: flex;
  gap: 16px;

}
.div_tri_ul_li {
  width: 40px;
  height: 40px;

}
.div_tri_ul_li_a {
  width: 100%;
  height: 100%
  ;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.div_tri_ul_li_a:focus,
.div_tri_ul_li_a:hover {
  background-color: #31d0aa;
}

/* Ф */
.div_img_sec_ff {
  position: relative;
  overflow: hidden;
}
.p_div_img_sec_ff {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.three_div {
  padding: 32px 0
}
.three_div_ul{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.three_div_ul_lii{
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three_div_ul_li_a{
  width: 100%;
  height: 100%;
  border-radius:50%;
  display: flex; 
  align-items: center;
  justify-content: center; 
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.three_div_ul_li_a:hover {
  background-color: #404bbf;
}
.three_div_ul_li_a:focus{
  background-color: #404bbf;
}
.three_div_ul_li_a_svg{
  fill: #f4f4fd;

}


/* s`xxxxxxxxxxxxxxxxxxxx */




.li_sec_f { 
  background-color: #ffffff; 
  width: calc((100% - 72px) / 4); 
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);  
} 



.p_sec_ff { 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  /* color: #434455; 
  position: absolute; 
  top: 0;  */
  font-size: 16px;  
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  /* padding: 40px; */
  /* color: #f4f4fd; */
  /* transform: translateY(100%); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div_tri_svg {
  fill: #f4f4fd;
}

.li_ul_sec_ff:hover{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
.footer_div_sub_p{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  color: #ffffff;

}
.footer_div_sub_form {
  display: flex;
  gap: 24px;
}
.input_footer_div_sub_form{
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5; 
  letter-spacing: 0.04em;
  padding-left: 16px; 
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}
  placeholder {
  color: #ffffff;
}
.footer_div_sub_form_button{
  min-width: 165px; 
  height: 40px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: "Roboto", sans-serif; 
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px; 
}
.footer_div_sub_form_button{
  margin-left: 16px;

}
.modalwindow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}
.modalwindow_div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc; 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px; 
  
}
.modalwindow_div_button{
  top: 24px;
  right: 24px; 
  width: 24px; 
  height: 24px; 
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
.modalwindow_div_button:hover{
  background-color: #404bbf;
  border: none; 
}
.modalwindow_div_button:focus{
  background-color: #404bbf;
  border: none;
}
.modalwindow_div_button_svg{
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modalwindow_div_button:hover > .modalwindow_div_button_svg,
.modalwindow_div_button:focus > .modalwindow_div_button_svg {
  fill: #ffffff
}
.modalwindow_div_p{
  font-weight: 500;
  font-size: 16px; 
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em; 
  color: #2E2F42;
  margin-bottom: 16px; 
}
.modalwindow_div_form_div{
  margin-bottom: 8px;
}
.modalwindow_div_form_div_label{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block; 
  margin-bottom: 4px; 
}
.modalwindow_div_form_div_label_div{
  position: relative;
}
 .modalwindow_div_form_div_label_div_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent; 
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modalwindow_div_form_div_label_div_input:focus{
  border-color: #4D5AE5;
 }
 .modalwindow_div_form_div_label_div_svg{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .modalwindow_div_form_div_label_div_input:focus + .modalwindow_div_form_div_label_div_svg {
  fill: #4D5AE5;
 }
 .modalwindow_div_form_div_f{
  margin-bottom: 16px
 }
 .modalwindow_div_form_div_textarea{
  width: 100%;
  height: 120px;
  font-size: 12px; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4); 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
 }
 .modalwindow_div_form_div_textarea:focus{
  border-color: #4D5AE5;
 }
 .modalwindow_div_form_div_for_label{
  margin-bottom: 24px;
 }
 /* .modalwindow_div_form_div_for_label_input{
  visually-hidden
 } */
 .modalwindow_div_form_div_for_label_l{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em; 
  color: #8e8f99; 
 }
 .modalwindow_div_form_div_for_label_l_span{
  width: 16px;
  height: 16px; 
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  fill: transparent;

 }


 input:checked + span{

 }


 .modalwindow_div_form_div_for_label_l_a{
  color: #4d5ae5;
 }
 .form_six_button{
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em ;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5 ;
  border: none; 
  border-radius: 4px; 
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5 ;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }

 .modalwindow_div_form_div_for_label_input:checked + .modalwindow_div_form_div_for_label_l > .modalwindow_div_form_div_for_label_l_span {
  background-color:  #404bbf;
  border: none;
  fill: #F4F4FD;
 }